*{
	padding: 0;
	margin: 0;
	font-family: 'Poppins', sans-serif;
	box-sizing: border-box;
}
.heading{
	background-color:#F4DDAF;
	height: 90px;
}
.ul{
	text-align: center;
}

.images-back{
	margin-top: -20px;
	background-size: cover;
	background-position: center;
	height: 91.7vh;
	width: 100%;
	background-image: url(../img/header.jpg);
}
#list{
	margin-left: auto;
	margin-right: auto;
	
}
.list{
	color:#000
}
nav{
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 45px;
	padding-left: 8%;
	padding-right: 8%;
}

.diri{
	color: black;
	font-size: 35px;
	letter-spacing: 1px;
	margin-top: 60px;
	margin-left: 120px;
}
.diri1{
	margin-top: 40px;
	font-size: 25px;
}
.diri2{
	margin-top: 15px;
	font-size: 20px;
}
nav ul li{
	list-style-type: none;
	display: inline-block;
	padding: 10px  25px;
}
nav ul li a{
	color: white;
	text-decoration: none;
	font-weight: bold;
	text-transform: capitalize;
}
nav ul li a:hover{
	color: #f9004d;
	transition: .4s;
}
.images-bg{
	margin-top: 80px;
	background-size: cover;
	background-position: center;
	height: 100vh;
	width: 100%;
	background-color: #FEE9D6;
}
.btn{
	background-color:#f9004d;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 10px 25px;
	border-radius: 30px;
	transition: transform .4s; 
}
.btn:hover{
	transform: scale(1.2);
}
.content{
	color: white;
	position: absolute;
	top: 50%;
	left:8%;
	transform: translateY(-50%);
}
.content h3{
	font-weight: 500;
}
.content1{
	font-size: 30px;
}
h1{
	color: white;
	margin: 20px 0px 20px;
	font-size: 75px;
}
.box{
	display: flex;
	min-height: 400px;
}
.card{
	margin-top: 100px;
	margin-left: 100px;
	height: 265px;
	width: 560px;
	padding: 0px 35px;
	background: #D9D9D9;
	border-radius: 20px;
	overflow: hidden;

}
.card1{
	margin-top: 500px;
	margin-left: -560px;
	height: 265px;
	width: 560px;
	padding: 20px 35px;
	background: #D9D9D9;
	border-radius: 20px;
	overflow: hidden;

}
.card2{
	margin-top: 100px;
	margin-left: 125px;
	height: 665px;
	width: 445px;
	padding: 20px 35px;
	background: #D9D9D9;
	border-radius: 20px;
	position: relative;
	overflow: hidden;

}
.card3{
	margin-top: 100px;
	margin-left: 125px;
	height: 665px;
	width: 445px;
	padding: 20px 35px;
	background: #D9D9D9;
	border-radius: 20px;
	position: relative;
	overflow: hidden;

}
.jarak{
	padding: 5px 0px;
	margin-top: 8px;
}
.jarak1{
	padding: 5px 0px;
	margin-top: 8px;
}
.jarak2{
	margin-top: 20px;
}
.h5{
	font-size: 25px;
}
.card i{
	font-size: 50px;
	display: block;
	text-align: center;
	margin: 25px 0px;
	color: #f9004d;
}
.expert{
	color: #f9004d;
}
.images-progress{
	margin-top: -151px;
	margin-left: 100px;
	height: 1vh;
	width: 75%;
	border-radius: 20px;
	background-image: url(../img/Screenshot\ 2022-08-18\ 193257.jpg);
}
.images-progress1{
	margin-top: 33px;
	margin-left: 100px;
	height: 1vh;
	width: 75%;
	border-radius: 20px;
	background-image: url(../img/Screenshot\ 2022-08-18\ 193257.jpg);
}
.images-progress2{
	margin-top: 33px;
	margin-left: 100px;
	height: 1vh;
	width: 75%;
	border-radius: 20px;
	background-image: url(../img/Screenshot\ 2022-08-18\ 193257.jpg);
}
.images-progress3{
	margin-top: 33px;
	margin-left: 100px;
	height: 1vh;
	width: 75%;
	border-radius: 20px;
	background-image: url(../img/Screenshot\ 2022-08-18\ 193257.jpg);
}
.images-progress4{
	margin-top: -107px;
	margin-left: 135px;
	height: 1vh;
	width: 65%;
	border-radius: 20px;
	background-image: url(../img/Screenshot\ 2022-08-18\ 193257.jpg);
}
.images-progress5{
	margin-top: 35px;
	margin-left: 135px;
	height: 1vh;
	width: 65%;
	border-radius: 20px;
	background-image: url(../img/Screenshot\ 2022-08-18\ 193257.jpg);
}
.images-progress6{
	margin-top: 35px;
	margin-left: 135px;
	height: 1vh;
	width: 65%;
	border-radius: 20px;
	background-image: url(../img/Screenshot\ 2022-08-18\ 193257.jpg);
}
.tahun{
	font-size: 110%;
	color: red;
	margin-top: 15px;
}
.line{
	margin-top: 50px;
	width: 100%;
	background-color: black;
	height: 2px;
}
.tahun1{
	margin-top: 50px;
	color: red;
	font-size: 110%;
}
.present{
	font-size: 90%;
}
.deskripsi{
	margin-top: 30px;
}
.card4{
	margin-top: 90px;
	margin-left: 100px;
	height: 1000px;
	width: 450px;
	padding: 0px 35px;
	background: #D9D9D9;
	border-radius: 20px;
	overflow: hidden;
}
.card4 h5{
	margin-top: 30px;
}
.card5{
	margin-top: -1000px;
	margin-left: 650px;
	height: 1000px;
	width: 600px;
	padding: 20px 35px;
	background: #D9D9D9;
	border-radius: 20px;
	overflow: hidden;

}
.card6{
	margin-top: -1000px;
	margin-left: 1350px;
	height: 1000px;
	width: 455px;
	padding: 20px 35px;
	background: #D9D9D9;
	border-radius: 20px;
	position: relative;
	overflow: hidden;
}

footer{
	margin-top: 100px;
	background-color: #F4DDAF;
	height: 20vh;

}
.container{
	width: 80%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
.brand-icon{
	margin-top: 75px;
}
.brand-icon i{
	margin: 0px 20px;
	font-size: 25px;
}
.brand-icon a{
	color: #000;
}
.button-hire{
	margin-top: 65px;
}
.button-hire button{
	background-color: #FBD488;
	width: 240px;
	height: 60px;
	border-radius: 15px;
	border: none;
	font-size: 20px;
	font-weight: 600;
	cursor: pointer;
}
.contact{
	margin-top: 55px;
}
.contact ul li{
	list-style: none;
	font-size: 17px;
	font-weight: 600;
}
.contact ul li span{
	margin-left: 20px;
}